html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --wht: #f8f8f8;
  --dp: #2d132c;
  --mp: #801336;
  --lp: #c72c41;
  --o: #c72c41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
  line-height: 1.6;
  color: var(--wht);
  background-color: var(--dp);
}

/*************
General Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links
**************/

/*************
Typography
**************/

/*************
Layout
**************/

/*************
Media Queries
**************/
